{% extends 'base.html' %} {% block content %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

<div class="margin-top container">
  <div>
    <div class="col-md-9 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        {% if post.image %}
        <img class="post-image" src="../media/{{post.image}}">
        {% endif %}
        <p class=" text-muted"> <a href="{% url 'post_user_profile' pk=post.pk %}"> {{ post.author }} </a>| {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <a class="btn btn-primary" href="{% url 'update_post' pk=post.pk%}">Edit Post</a>
        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Delete Post</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}