{% block sidebar %}

<!--<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>-->

<!-- Sidebar Widgets Column -->
<div class="margin-top-left align-left">
    <div class="card side-card">
        <i class="fa fa-thumbs-up like-icon fa-2x"></i>
        <i style="font-size: 1.8em;" class="fa fa-comment like-icon fa-2x"></i>
        <!--<p class="card-text"> Dialog Diaries was started with an
        intent to bring people together and let them share their wonderful thoughts and ideas.</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>-->
    </div>
</div>

{% endblock sidebar %}