{% block sidebar %}

<!--<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>-->

<!-- Sidebar Widgets Column -->
<div class="margin-top align-left">
    <div class="input-container">
    <i class="fa fa-user icon"></i>
            <i class="fa fa-key icon"></i>
        <!--<p class="card-text"> Dialog Diaries was started with an
        intent to bring people together and let them share their wonderful thoughts and ideas.</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>-->
    </div>
</div>

{% endblock sidebar %}