{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="margin-top-left align-left">
    <div class="card width-left">
        <button id="addLike" data-url="{% url 'add_likes' %}" type="submit" class="btn">
            <i class="fa fa-thumbs-up like-icon fa-2x"></i>
        </button>
        <p id="likes" class="text-muted inline-view">{{ total_likes }}</p>
         <button id="addComment" data-url="{% url 'add_comments' %}" type="submit" class="btn">
             <i class="fa fa-comment like-icon"></i>
         </button>
        <p id="comments" class="text-muted inline-view">{{ total_comments }}</p>
        <input type="hidden" id="post" name="post" value={{ post.slug }}>
        <input type="hidden" id="token" name="token" value={{ csrf_token }}>
        <input type="hidden" id="is_authenticated" name="is_authenticated" value={{ user.is_authenticated }}>
        <!--<p class="card-text"> Dialog Diaries was started with an
        intent to bring people together and let them share their wonderful thoughts and ideas.</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>-->
    </div>
</div>

{% endblock sidebar %}